

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title th:text="${boardName}">게시판 이름</title>
    
    <!-- 텍스트 랜더링 기법 -->
    <!-- <title>[[${boardName}]]</title> -->


    <link rel="stylesheet" th:href="@{/css/board/boardDetail-style.css}">
    <link rel="stylesheet" th:href="@{/css/board/comment-style.css}">

</head>
<body>
    <main>
        
        <th:block th:replace="~{common/header}"></th:block>

        <section class="board-detail" th:object="${board}">  
            <!-- 제목 -->
                        <!-- object의 필드 = *{ } 식으로 나타냄 = ${board.boardTitle}과 동일 -->
                        <!-- 단, *{} 표현식은 혼합해서 사용할 수 없다 -->
                        <h1 class="board-title" th:utext="|*{boardTitle} <span> - ${boardName}</span>|"></h1>
                                                            <!--  | | (버티칼바) 사이에는 출력할 때 보여주고 싶은 형식을 지정 가능 -->
                                                            <!-- 문자열과 값을 조합하는 형태로 쓰기 위해 버티컬바를 사용함 -->
                                                            <!-- th:utext : 해석하려는 부분에 마크업언어가 있으면 그대로 해석 가능 -->
            <!-- 프로필 + 닉네임 + 작성일 + 조회수 -->
            <div class="board-header">
                <div class="board-writer">

                    <!-- 프로필 이미지 -->
                    
                        <!-- 프로필 이미지가 없을 경우 기본 이미지 출력 -->
                        <img th:unless="*{profileImage}" src="/images/user.png">

                        
                            <!-- 프로필 이미지가 있을 경우 이미지 출력 -->
                        <img th:if="*{profileImage}" src="*{profileImage}">
                

                    <!-- 글쓴이 닉네임 -->
                    <span th:text="*{memberNickname}">유저 닉네임</span>

                    
                    <!-- 좋아요 하트 -->
                    <span class="like-area">

                        <!-- 좋아요 누른적이 없거나, 로그인 X -->
                        <!-- <i th:unless="${likeCheck}" class="fa-regular fa-heart" id="boardLike"></i>   -->

                        <!-- 좋아요 누른적이 있을 때 -->
                        <!-- <i th:if="${likeCheck}" class="fa-solid fa-heart" id="boardLike"></i> -->
                        
                        
                        <!-- th:classappend   : 클래스 추가 -->
                        <i class="fa-heart" th:classappend="${likeCheck}? fa-solid : fa-regular" id="boardLike"></i>
                                                            <!-- 있으면 true / 없으면 false가 나옴 -->
                                                            <!-- 위 내용과 동일 (하나로 합친 것) -->


                        <span th:text="*{likeCount}">좋아요 수</span>
                    </span>

                </div>

                <div class="board-info">
                    <!-- <p th:utext="|<span>작성일</span> *{boardCreateDate}|"></p>    -->
                    <p><span>작성일</span> [[*{boardCreateDate}]]</p>   

                    <!-- 수정한 게시글인 경우 -->
                    <p th:if="*{boardUpdateDate}" th:utext="|<span>마지막 수정일</span> *{boardUpdateDate}|"></p>   

                     <p th:utext="|<span>조회수</span> *{readCount}|">조회수</p>                    
                </div>
            </div>

            <!-- 이미지가 있을 경우 -->
            <th:block th:if="${#lists.size(board.imageList) > 0}" >

                <!-- 썸네일 영역(썸네일이 있을 경우) -->
                <!--  
                    - 이미지는 IMG_ORDER 오름차순으로 정렬된다
                    - IMG_ORDER의 값이 0인 이미지가 썸네일이다
                    -> imgList에 썸네일이 있다면 조회되었을 때 IMG_ORDER가 0인 이미지가 imageList[0]에 저장되었을 것이다
                -->
                <th:block th:if="${thumbnail}" >
                    <h5>썸네일</h5>
                    <div class="img-box">
                        <div class="boardImg thumbnail">
                                                    <!-- 버티컬바를 넣어야 통째로 해석됨. 아니면 오류남 -->
                            <img th:src="|${thumbnail.imagePath}${thumbnail.imageReName}|">
                            <a th:href="|${thumbnail.imagePath}${thumbnail.imageReName}|"
                                    th:download="${thumbnail.imageOriginal}">다운로드</a>         
                        </div>
                    </div>
                </th:block>


                <!-- 썸네일을 제외한 나머지 이미지의 시작 인덱스 번호 -->
                <!-- 썸네일이 있을 경우 -->
                

                <!-- ${fn:length(board.imageList)} : imageList의 길이 -->
                <!-- 일반 이미지가 있을 경우 -->
                <th:block th:if="${#lists.size(board.imageList)>start}">
                    <!-- 업로드 이미지 영역 -->
                    <h5>업로드 이미지</h5>
                    <div class="img-box">

                    <!-- index 순서가 필요할 때 numbers 사용 : numbers.sequence(시작, 끝 [,스텝])
                            리스트가 만들어져서 반환됨 순서대로 꺼내서 i에 대입
                    -->
                    <th:block  th:each="i : ${#numbers.sequence(start, #lists.size(board.imageList) - 1, 1)}">
                        <div class="boardImg"
                            th:with="path=|${board.imageList[i].imagePath}${board.imageList[i].imageReName}|">
                            <!-- 타임리프에서 변수를 선언할 때 th:with 태그 사용 
                            th:with="변수명=값, 변수명=값"
                            scope가 선언한 요소 안으로 제한됨
                            -->

                            <img th:src="${path}">
                            <a th:href="${path}" th:downlaod="${board.baordList[i].imageOriginal}">다운로드</a>                
                        </div>
                    </th:block>
                        

                    </div>
                </th:block>

            </th:block>
                



            <!-- 내용 -->
            <div class="board-content" th:text="${board.boardContent}">내용</div>


            <!-- 버튼 영역-->
            <div class="board-btn-area">

                <!-- 로그인한 회원과 게시글 작성자 번호가 같은 경우-->
                <!-- <th:block th:if="${session.loginMember ! null and session.loginMember.memberNo == board.memberNo}" > -->

                <!-- 객체?.필드명 : Safe Navigation 연산자 
                        객체가 null인지 탐색(확인)해서 null이 아닐 경우 필드 접근
                        (NullPointerException 방지)
                    -->
                <th:block th:if="${session.loginMember?.memberNo==board.memberNo}"></th:block>
                <!-- 비로그인 시 session.loginMember를 타임리프에서 해석하면  null이 됨 
                    session.loginMember.memberNo으로 memberNo값에 접근하려고 하면 오류가 남  ( null.memberNo가 돼서 ) -->

                    <button id="updateBtn">수정</button>
                    <button id="deleteBtn">삭제</button>
                </th:block>


                <button id="goToListBtn">목록으로</button>
            </div>


        </section>

        <!-- 댓글 -->
        <th:block th:replace="~{board/comment}"></th:block>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 누가(로그인한 회원 번호) 
            어떤 게시글(현재 게시글 번호)에 좋아요를  클릭/취소 
            
            로그인한 회원 번호 얻어오기
            1) ajax로 session에 있는 loginMember의 memberNo를 반환
            2) HTML 요소에 로그인한 회원의 번호를 숨겨놓고 JS로 얻어오기
            3) jsp 파일 제일 위에 있는 script 태그에 JS + EL 이용해서 전역변수로 선언해두기
            -->

    <script th:inline="javascript">
        /* 여기 안에 타임리프를 쓰면 자바스크립트 표기법으로 바꿔주겠다 */

        // console.log(/*[[board]]*/  "board객체");
        // 타임리프를 사용하면 자바 객체를 자바스크립트로 바꾸는 게 편함

        const boardNo = /*[[${board.boardNo}]]*/  "게시글 번호";
        const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호";
                                                        /* safe navigation을 이용해서 nullpointer exception 방지 */

        if(loginMemberNo == null) loginMemberNo = "";

        console.log(loginMemberNo);

    </script>
    
    <script src="/js/board/boardDetail.js"></script>
    <script src="/js/board/comment.js"></script>

</body>
</html>